/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Paleta de colores */
:root {
    --fondo-header: #372a28;
    --primary-100:#E8B04A;
    --primary-200:#c8932d;
    --primary-300:#7e5500;
    --accent-100:#BFBFBF;
    --accent-200:#616161;
    --text-import: #FFF4EA;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#2C2C2C;
    --bg-400:#141414;
    --bg-500:#161616;
    --bg-200:#3c3c3c;
    --bg-300:#555555;
}
/* Ajustes generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(var(--bg-100),var(--bg-400)) ;
    scroll-behavior: smooth;
    color: var(--text-100);
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
}
/*Navbar*/
header {
    background-color: var(--fondo-header);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 1000;
    top: 0;
}
nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--text-import);
    font-size: 1.3rem;
    padding: 1.3rem;
    letter-spacing: 1px;
    font-weight: 400;
    transition: color 0.5s;
}
nav a:hover {
    color: var(--primary-100);
}
.imglogo {
    width: 170px;
    pointer-events: none;
}
/*Section Home Sobre La Barberia Alura */
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 11rem auto 7rem;
}
.img-box {
    width: 50%;
    position: relative;
}
.card {
    background-color: #00000080;
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--text-100);
    top: 0;
    opacity: 0;
    padding: 2rem;
    transition: opacity 1s;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
}
.img-box:hover .card {
    opacity: 1;
}
.articleSobreAlura {
    width: 50%;
    font-weight: 100;
    color: var(--text-100);
    font-size: 1rem;
    padding: 0 3rem;
}
.titulo {
    font-size: 2rem;
    color: var(--text-import);
    margin-bottom: 1.7rem;
}
/*Section MAPA */
.mapa {
    width: 90%;
    text-align: center;
    padding: 4rem 0 8rem;
    margin: 0 auto;
}
.titulo_principal {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.mapa > p {
    letter-spacing: 1px;
    margin: 1rem;
}
/*Diferenciales Home */
.TituloDeSecciones {
    background-color: var(--fondo-header);
    color: var(--primary-100);
    padding: 1%;
    font-size: 1.6rem;
    margin: 1% 0 0;
    text-align: center;
}
.diferenciales {
    margin: 4rem auto 10rem;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    color: var(--accent-100);
}
.lista_diferenciales{
    text-align: left;
    width: 30%;
}
.lista_diferenciales > li:first-child{
    color: var(--text-import);
}
li {
    font-size: 1.4rem;
    padding: 10px;
}
.img-diferenciales {
    width: 50%;
    margin-right: 0;
}
/*Section Video Home */
.tituloVideo {
    margin: 2rem auto 2rem;
}
.video {
    max-width: 1024px;
    margin: 4rem auto 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video > p {
    letter-spacing: 1px;
    margin: 1rem;
}
/*Footer De pagina*/
footer {
    width: 100%;
    margin: 0 auto;
}
.footerImg {
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
}
.footerImg > img {
    height: 60%;
    width: auto;
}
.footerImg > p {
    color: var(--text-200);
    margin: 0;
    font-size: 0.8rem;
}
/* -----------------------------------------PAGINA 2 PRODUCTOS----------------------------------*/

.productos {
    margin: 0 auto;
    max-width: 1200px;
    height: 830px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productos li > img {
    margin: 2rem 0;
    border-radius: 2rem;
}
.productos li {
    list-style: none;
    text-align: center;
    margin: 2rem;
    border: solid 2px var(--fondo-header);
    border-radius: 1rem;
    background-color: var(--bg-200);
    transition: color 0.5s, background-color 0.5s, transform 0.5s;
}
li > p { /*parrafo de tarjetas*/
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.productos h2 {
    font-size: 1.6rem;
    padding: 1rem;
}
.productos li:hover {
    background-color: #e0e0e0;
    border: solid 1px var(--primary-200);
    color: var(--bg-100);
    transform: scale(1.1);
}
/*----------------------------------------------Pagina 3 Contactos------------------------------------------------------*/
.main_contacto {
    width: 1024px;
    margin: 0 auto;
    height: 120vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 60%;
    margin-top: 8rem;
}

form label {
    font-size: 1.2rem;
    padding: 0.7rem;
    width: 30%;
}

form input {
    width: 90%;
    height:55px;
}

form textarea {
    width: 95%;
    height: 150px;

}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}
.radio label {
    width: 100%;
}

.radio {
    flex-direction: column;
    display: flex;
    gap: 2.5rem;
}
.radio legend {
    font-size: 1.5rem;
    padding: 2rem 0.7rem;
}

.radio > div > div > input {
    width: 1rem;
}

.radio > div > div {
    align-items: center;
}

.radio > div {
    gap: 2rem;
}

.correoInformativo {
    display: flex;
    align-items: center;
    width: 100%;
}

.correoInformativo input {
    width: 1rem;
}

.correoInformativo label {
    width: 65%;
}

.select > p {
    font-size: 19px;
    padding: 0 0.7rem;
}

textarea {
    padding: 1rem 0;
}

fieldset {
    border: none;
}
.fieldset {
    display: flex;
    justify-content: space-between;
    max-width: 1102px;
    width: 80vw;
}
.enviar {
    padding: 1rem 0;
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-import);
    background-color: var(--primary-200);
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: transform 0.8s ; 
    margin: 0 auto;
}
.enviar:hover {
    color: var(--text-100);
    transform: scale3d(1.1, 1.1, 1.1); 
}
table {
    margin: 2rem;
}
thead {
    background-color: var(--fondo-header);
}
td,th {
    text-align: left;
    width: 150px;
    padding: 1rem;
    border: 1px solid black;
    font-size: 1.2rem;
    
}

@media (max-width:775px) {
    /* MOVIL HOME */
    header {
        flex-direction: column;
        height: auto;
    }
    .imglogo {
        width: 120px;
    }
    nav > a {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .conteiner {
        flex-direction: column-reverse;
        margin: 9rem 1rem 4rem;
    }
    .titulo {
        font-size: 1rem;
    }
    .articleSobreAlura {
        padding: 1rem;
        width: 100%;
    }
    .img-box {
        width: 100%;
    }
    .mapa > iframe {
        width: 100%;
    }
    .diferenciales{
        flex-direction: column;
        margin: 1rem;
    }
    .lista_diferenciales {
        width: 100%;
        list-style: none;
        margin: 1rem;
    }
    .footerImg > img {
        height: auto;
        width: 100%;
    }
    .lista_diferenciales > li {
        font-size: 1rem;
    }
    .img-diferenciales, .enviar{
        width: 100%;
    }
    .video > iframe  {width: 100%;}

    /* MOVIL PRODUCTOS */
    .productos {
        flex-direction: column;
        height: auto;
        margin-top: 6rem;
    }
    /* MOVIL CATALOGO */
    .main_contacto {
        width: 100%;
        height: 100%;
    }
    form {
        width: 100%;
        padding: 1rem;
    }
    form div {
        flex-direction: column;
        align-items: baseline;
    }
    form label, form input, form textarea {
        font-size: 1rem;
        width: 100%;
    }
    .fieldset{
        width: 100%;
        justify-content: baseline;
    }
    .radio {
        width: 100%;
        position: relative;
        right: 28px;
    }
    .radio legend, form label, .select > p  {
        padding: 0;
    }
    .correoInformativo {
        flex-direction: row;
        align-items: center;
        width: 43%;
    }
    .radio > div > div {
        flex-direction: row;
    }
}
@media (max-width:1000px) {
    /* HOME */
    .conteiner {
        margin: 7rem 0 0;
    }
    .titulo {
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .articleSobreAlura {
        padding: 1rem;
        font-size: 0.9rem;
        line-height: 1.5;
    }
    .lista_diferenciales {
        width: 100%;
    }
    /* PRODUCTOS */
    .productos {
        flex-direction: column;
        margin-top: 7rem;
        height: auto;
    }
    .productos li {
        max-width: 400px;
    }
    .productos h2 {
        font-size: 2rem;
    }
    .precio{
        font-size: 1.5rem;
    }

    /* Contacto */
    .main_contacto {
        width: 100%;
    }
    form {
        width: 100%;
        padding: 2rem;
    }
    form label {
        width: 55%;
    }
    form div {
        align-items: baseline;
    }
    form textarea, form input {
        width: 100%;
    }
    .fieldset {
        width: 90vw;
    }
}
